@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: #000;
}
html,
body {
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

form {
    width: 700px;
    height: 500px;
    border-radius: 10px;
    border: 1px solid #fff;
    margin: 0 auto;
    margin-top: 30px;
    box-shadow: 0 8px 16px 0 rgba(226, 223, 223, 0.952), 0 6px 20px 0 rgba(97, 95, 95, 0.19);

    .container {
        display: block;
        justify-content: center;
        align-items: center;
        padding: 10px 10px;
        margin: 0 auto;
        input {
            border: #fff;
            padding: 10px;
            font-size: 1.2em;
            width: 90%;
            margin: 10px 10px;
            color: #fff;
            border-bottom: 1px solid #fff;
        }
        input::placeholder {
            color: #fff;
        }

        #env {
            // width: 100%;
            margin: 10px 10px;
            font-size: 20px;
            color: #fff;
            padding: 5px 10px;
            border-radius: 5px;
        }

        #permissions {
            margin: 10px 10px;
            font-size: 20px;
            color: #fff;
            padding: 5px 10px;
            border-radius: 5px;
        }

        .btn-env {
            width: 100%;
            margin-top: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            transition-duration: 0.4s;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

            button {
                width: 100px;
                height: 50px;
                color: #fff;
                border-radius: 10px;
                &:hover {
                    transition: 0.8s;
                    box-shadow: 0px 0px 30px 0 rgb(209, 202, 202), 0 17px 50px 0 rgb(163, 159, 159);
                }
            }
        }
    }

    #number {
        width: 80px;
        margin: 10px 10px;
        font-size: 20px;
        color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid #fff;
    }
}
.squares li {
    width: 40px;
    height: 40px;
    background-color: rgba(245, 237, 237, 0);
    display: block;
    position: absolute;
    bottom: -40px;
    animation: up 3s infinite alternate;
    z-index: 1;
}

@keyframes up {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(-900px) rotate(960deg);
    }
}
